.footer {
    height: 50px;
    background: linear-gradient(30deg, #ffa726 30%,  #fb8c00 70%);
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footerText{
    text-align: end;
    color: white;
    padding: 1% 1%;
    font-weight: bolder;
}

a{
    color: white;
    font-weight: lighter;
    text-decoration: none;
}