
.navBar{
    width: 100%;
    height: 12%;
    background: linear-gradient(45deg, #fb8c00 30%, #ffa726 90%);
    position: static;

}

.title{
    flex-grow: 1;
    color: white;
}

.surveys{ 
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 1% 1%;
}

.loginBtn{
    position: static;

    width: 50%;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10% ;
    padding-right: 70% ;
    padding-top: 1% ;
    padding-bottom: 1% ;
    text-align: center;
    background-color: #ffe082;
    font-weight: bold;
}

.icon{
    padding-left: 0;
    margin-left: 0;
    display: inline-block;

}

